@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-scroll {
    @apply scrollbar scrollbar-h-5 scrollbar-thumb-gray-300 scrollbar-track-gray-100 scrollbar-thumb-rounded-full scrollbar-track-rounded-full;
  }

  .container {
    @apply p-0;
  }

  .form-error-message {
    @apply mb-4;
  }

  .max-width-content {
    @apply max-w-content;
  }

  .header-container .header-content,
  .TabMenu > .tab-wrapper,
  .container {
    @apply max-w-content;
  }

  .header-container .sk-header {
    @apply py-2 md:px-80;
  }

  .start-link {
    @apply no-underline hover:no-underline;
  }

  .main-card {
    @apply w-full lg:max-w-[34rem] lg:min-h-[22rem];
  }

  .main-card :is(.sk-card-body-wrapper) {
    @apply flex flex-col gap-16 p-24 border-1 border-divider rounded-cards-lg shadow-50 w-full;
  }

  .main-card-button :is(.sk-btn.sk-btn-md.sk-btn-primary.sk-card-body-icon) {
    @apply self-end mr-0;
  }

  .main-card-body .sk-card-body-header span {
    padding-left: 0px;
  }

  .main-wrapper {
    @apply flex flex-col grow;
  }
  .sms-main-container {
    @apply flex pt-64 px-20 md:px-48 bg-transparent grow;

    .sms-container {
      @apply mx-auto flex flex-col items-start gap-80 self-stretch w-full;
    }
  }
}

@layer utilities {
  .MuiSvgIcon-root.material-icon {
    user-select: none;
    font-size: 1.25em;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
  }
}
