:root {
  --max-w-7xl: 1280px;
  --m-stepper: 80px;
  --w-max-stepper-content: calc(100% - var(--m-stepper) * 2);
  --w-stepper-content: 818px;
  --shadow-card: 0 0 3px 0 rgba(10, 12, 15, 0.08), 0 1px 8px 0 rgba(10, 12, 15, 0.13);
}
